.ModalWindow {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 25;

    .modal-buttons {
        display: flex;

        flex-direction: row;
        justify-content: center;
        gap: 5px;

        .Button {
            width: 6em;
        }
    }

    h1,
    h2,
    h3,
    p {
        text-align: center;
    }
}
