@use "sass:color";
@use "../../colors.scss";
@use "../../icon-mixin.scss";

.Button {
    $padding: 4px;

    $button-size: calc($padding * 2 + icon-mixin.$icon-size);

    border: 0;
    padding: $padding;
    border-radius: 3px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-wrap: nowrap;

    height: $button-size;
    min-width: min-content;
    width: $button-size;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;

    @mixin color-button($base-color,
        $hover-color: color.scale($base-color, $lightness: -10%),
        $active-color: color.scale($base-color, $lightness: 10%),
        $disabled-color: color.scale($base-color, $saturation: -50%, $lightness: 20%)) {

        background-color: $base-color;

        &:hover {
            background-color: $hover-color;
        }

        &:active {
            background-color: $active-color;
        }

        &:disabled {
            background-color: $disabled-color;
        }
    }

    // Default button is primary colored (satisfactory colors).
    @include color-button(colors.$bg-primary);

    color: colors.$gray-dark;
    &:disabled {
        color: colors.$gray;
    }

    &.green {
        @include color-button(colors.$green);
    }

    &.red {
        @include color-button(colors.$red);
    }
}
