@use "sass:color";
@use "../colors.scss";

@use "balance/NodeBalance.scss";
@use "building/building.scss";
@use "copies/VirtualCopies.scss";
@use "group/GroupName.scss";
@use "icon/Icon.scss";
@use "NodeTreeDisplay.scss";
@use "node-grid.scss";

.NodeDisplay {
    .drag-handle {
        display: flex;
        color: colors.$gray-dark;
        cursor: move;
    }

    font-size: 1.125rem;

    .section {
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

        &.copy-delete {
            justify-content: flex-end;
        }
    }

    &.group {
        @include node-grid.node-subgrid;

        box-sizing: border-box;
        justify-content: flex-start;
        align-items: center;

        border-radius: 5px;

        background-color: colors.$light;

        &.collapsed {
            padding: 2px 5px;
        }

        .header {
            @include node-grid.node-subgrid;

            box-sizing: border-box;
            align-items: center;

            padding: 2px 5px;
            gap: 5px;

        }

        .body {
            @include node-grid.flex-span;

            box-sizing: border-box;
            justify-content: space-between;
            flex-direction: row;
            align-items: flex-start;
            margin: 0 5px;
            background-color: colors.$dark;
            border-radius: 5px;
            padding: 5px;
            gap: 5px;
            min-width: max-content;

            .children-display {
                box-sizing: border-box;
                flex-grow: 1;
                gap: 5px;

                .drag-insert-point {
                    height: 10px;
                    border-radius: 5px;
                    background-color: color.scale(colors.$light, $lightness: 50%);
                    grid-column: node-grid.$whole-row;
                    align-self: flex-start;
                }
            }
        }

        .footer {
            @include node-grid.flex-span;

            box-sizing: border-box;

            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 5px;
            gap: 5px;
        }

    }

    &.building {
        @include node-grid.node-subgrid;

        box-sizing: border-box;
        padding: 2px 5px;
        gap: 5px;
        align-items: center;

        border-radius: 5px;

        background-color: colors.$light;
    }

    .StationConsumption {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;

        width: 70px;

        .current-consumption {
            flex-grow: 1;
            flex-shrink: 1;
            min-width: 0;
        }

        span.current-consumption {
            cursor: text;
        }
    }

    .BuildError {
        cursor: pointer;
    }
}
