@use "../colors.scss";

.DbChooserWindow {
    width: 800px;

    .show-deprecated {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .overview {
        margin-bottom: 5px;
    }

    .versions {
        display: grid;
        grid-template-columns:
            [name] minmax(5em, auto)
            [description] 1fr
            [checkbox] min-content
            [end];
        row-gap: 5px;
    }
}

.DbListRow {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: name / end;

    background-color: colors.$gray-light;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;

    &.deprecated {
        background-color: #a18f76;
    }

    column-gap: 10px;
    align-items: center;
}
