@use "../colors.scss";

.WorldManagerError,
.world-download-error {
    width: 500px;

    pre {
        background-color: colors.$gray-dark;
        color: colors.$bg-primary;
        box-sizing: border-box;
        overflow-x: scroll;
        border: 5px solid colors.$gray-dark;
        border-bottom: none;
        padding-bottom: 10px;
        user-select: all;
        min-width: 100%;
        width: 0;
    }

    h1,
    h2,
    h3,
    p {
        text-align: left;
    }
}
