@use "../../icon-mixin.scss";

$gap: 4px;

// Mixin for defining name-like select boxes (the building selector, recipe selector, and item
// selector).
@mixin name-mixin($text-size) {
    $size: calc($text-size + $gap + icon-mixin.$icon-size);

    box-sizing: border-box;
    cursor: text;
    min-width: min-content;
    text-wrap: nowrap;
    flex: 1 0 $size;
    width: $size;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: $gap;
}
