@use "../colors.scss";

.UserSettingsWindow {
    width: 600px;

    label {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        list-style-type: none;
        padding: 0 20px;
    }
}
