@use "../../../colors.scss";
@use "../../icon/icon-mixin.scss";

.Purity {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex: 1 0 90px;
}

.purity-icon {
    @include icon-mixin.icon-size;

    &.impure-node {
        color: colors.$danger;
    }
    &.normal-node {
        color: colors.$warning;
    }
    &.pure-node {
        color: colors.$success;
    }
}
