@use "../../../colors.scss";
@use "../name-mixin.scss";

.Purity {
    @include name-mixin.name_mixin(3.375rem);
}

.purity-icon {
    &.impure-node {
        color: colors.$danger;
    }
    &.normal-node {
        color: colors.$warning;
    }
    &.pure-node {
        color: colors.$success;
    }
}
