@use "../../colors.scss";
@use "sized-clickedit-mixin.scss";

.ClickEdit {
    box-sizing: border-box;
    cursor: text;
    min-width: min-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: sized-clickedit-mixin.$gap;

    .value {
        flex: 1 1;
        position: relative;
    }

    $input-pad: 2px;

    .value-input {
        display: block;
        min-width: 0;
        width: 100%;
        position: absolute;

        background-color: colors.$white;
        border: none;
        outline: none;
        box-sizing: border-box;
        padding: $input-pad;
        text-align: inherit;
    }

    .value-display {
        min-width: 0;
        padding: $input-pad;
        text-wrap: nowrap;
        white-space: nowrap;
        height: 1em; // NB: using content-box not border-box.
    }
}
