@use "../../colors.scss";

.ChooseFromList {
    box-sizing: border-box;
    display: block;
    position: relative;

    $input-pad: 2px;

    padding: $input-pad;
    min-width: min-content;

    .text-input {
        display: block;
        position: absolute;
        min-width: 0;
        width: 100%;

        background-color: colors.$white;
        border: none;
        outline: none;

        box-sizing: border-box;
        padding: $input-pad;
        text-align: inherit;
        margin: -$input-pad;
    }

    .input-size {
        text-wrap: nowrap;
        height: 1lh; // NB: using content-box not border-box.
        width: min-content;
    }

    .available {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        max-height: 500px;
        min-width: 300px;
        overflow-y: auto;
        background-color: colors.$dark;
        color: colors.$gray-light;
        border: 2px solid colors.$primary;
        border-radius: 2px;
        z-index: 10;

        .available-item {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            padding: 0 5px;

            &.selected {
                background-color: colors.$light;
                color: colors.$gray-dark;
            }
        }
    }
}
