@use "colors.scss";
@use "node_display.scss";

body {
    display: flex;
}
html, body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100%;
    font-family: 'Rubik', 'Sans';
    background-color: colors.$bg-secondary;
}

.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;

    .navbar {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        height: 60px;
        background-color: colors.$bg-primary;
        padding: 10px;

        .appheader {
            @include colors.satisfactory;
            font-size: 40px;
            line-height: 40px;
        }
    }

    .menubar {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 5px 10px;
        gap: 5px;

        background-color: colors.$light;

        .unredo {
            @include colors.primary-button;
        }
    }

    .appbody {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-grow: 1;
        padding: 10px;
    }
}

.space {
    flex-grow: 1;
}
