@use "colors.scss";


.NodeDisplay {

    .delete {
        @include colors.red-button();
    }

    &.group {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-grow: 1;

        border-radius: 5px;

        background-color: colors.$light;

        .header {
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 5px;
            gap: 5px;

            .GroupName {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-grow: 1;
                gap: 5px;

                .name {
                    font-size: 20px;
                    color: colors.$gray-dark;

                    &.notset {
                        color: colors.$gray;
                    }
                }

                .edit {
                    @include colors.green-button();
                }
            }
        }

        .body {
            box-sizing: border-box;

            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: flex-start;
            margin: 0 5px;
            background-color: colors.$dark;
            border-radius: 5px;
            padding: 5px;
            flex-grow: 1;
            gap: 5px;

            .children-display {
                box-sizing: border-box;

                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: stretch;
                flex-grow: 1;
                gap: 5px;
            }
        }

        .footer {
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 5px;
            gap: 5px;

            .create {
                @include colors.green-button();
            }
        }
    }

    .balance {
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        border-radius: 5px;
        background-color: colors.$light;
        padding: 5px;

        .entry-row {
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .icon {
                width: 24px;
                height: 24px;
            }
        }
    }
}
