@use "menubar/MenuBar.scss";
@use "titlebar/TitleBar.scss";

.AppHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .hide-empty-button {
        gap: 0;
    }
}
